body {
    font-family: sans-serif;
}
header{
    background-color: lightblue;
    padding: 10px;
}
h1{
    text-align: center;
    border: 3px solid purple;
    border-radius:20px;
    color:orange;
    font-weight: 200;
    font-size: 20px;
}
footer{
    background-color: lightpink;
    padding-bottom: 5px;
    padding-top: 5px;
}
p.q{
    background-color: white;
    margin: 10px;
}

p.w{
    background-color: white;
    margin: 10px;
    
}
nav{
     border:2px solid grey;
     opacity: 50%;
     border-radius: 2px;
}
nav a{
    text-decoration: none;
    
    padding: 50px;
    color:grey;
}
p.rt{
    border:3px solid #190b73;
    border-radius: 15px;
    padding: 5px;
}
h2.ee{
    color:blue;
}
img.ggg{
    border:1px solid #4fbee0;
    border-radius: 10px;
}
