body {
    font-family: sans-serif;
    background-color: #376152;
}

header{
    background-color: #0D2D27;
    margin-bottom: 20px;
}
header img{
    width: 70px;
    height: 70px;
    margin:10px
}
main a{
    margin:30px;
    text-decoration: none;

}
.qq{
    margin-left: 400px;
    color: black;
    background-color: white;
    padding: 5px;
}
.wq{
    color: white;
    background-color: #233833;
    padding: 5px;
    
}
h1{
    text-align: center;
    font-size: 40px;
}
.baze{
    width: 700px;
    height: 500px;
}
h2{
    font-size: 30px;
}
.heroes{
    width: 650px;
    height: 400px;
}
footer{
    background-color: #0D2D27;
    margin:5px;
}
footer p{
    color: white;
    padding: 7px;
    font-size: 15px;
}
